.modal-header {
  padding: 0;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #191970;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.close-button {
  position: absolute;
  margin-right: 5%;
  line-height: 50px;
  right: 0;
  cursor: pointer;
}

.modal-header p {
  margin-block-start: 0;
  line-height: 50px;
}

.pro-preparation {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #dfbd7f;
}

.pro-preparation img {
  width: 75px;
  margin-right: 15px;
}

.second-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.first-column {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #dfbd7f;
  align-items: center;
}

.first-column img {
  width: 75px;
  height: 75px;
}

.second-column {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid #dfbd7f;
  padding-bottom: 10px;
}

.second-column img {
  justify-self: center;
  width: 75px;
  margin-top: 10px;
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal-content {
  height: 75%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #265083;
  background-image: linear-gradient(-45deg, #12203b, #265083);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 0 0 20px;
}

@media (max-width: 1024px) {
  .second-column {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .modal-content {
    width: 100%;
    height: 100%;
  }
  .first-column {
    width: 100%;
  }
  .second-column {
    width: 50%;
  }
}

@media (max-width: 455px) {
  .first-column {
    width: 100%;
    height: 100%;
  }
  .second-column {
    width: 80%;
    margin: 30px 15px 30px 15px;
  }
}
