.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroes-page {
  background: #265083;
  background-image: linear-gradient(-45deg, #12203b, #265083);
}

.field {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: auto;
  column-gap: 12px;
  row-gap: 12px;
}

@media (max-width: 1400px) {
  .field {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1205px) {
  .field {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1010px) {
  .field {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 776px) {
  .field {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 595px) {
  .field {
    grid-template-columns: 1fr 1fr;
  }
}

.card-container {
  width: 151px;
  height: 346px;
}

.card {
  width: 100%;
  height: 100%;
}

.card img {
  width: 151px;
}

.card-font {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: #001528;
  color: white;
}

.card-font h1 {
  font-size: 20px;
}

.hero-stats {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  justify-content: center;
  display: flex;
}

.hero-stats td {
  border: 2px solid grey;
  text-align: center;
  padding: 2px;
  font-size: 9px;
}

.hero-stats img {
  width: 10px;
}

.hero-nav-bar {
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
  align-items: center;
  padding: 0 2rem;
}

.hero-nav-links {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 0;
  justify-content: center;
}

.hero-nav-links ul {
  display: flex;
}

.hero-nav-links li {
  display: table-cell;
  box-sizing: border-box;
  border: #888 1px solid;
  list-style: none;
  padding: 0 0.5rem;
  width: 100px;
}

.hero-nav-links a {
  color: white;
  background-color: navy;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}

a.selected {
  background: #408be7;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 5px;
  color: white;
  background-color: #626ee3;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 13px;
}

.card button:hover {
  opacity: 0.7;
}

.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

input,
.search-button {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.searchbox-layout {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

#cover {
  width: 300px;
  height: 100%;
  padding: 5px 10px 5px 10px;
  background-color: #408be7;
  border-radius: 10px;
  box-shadow: 0 10px 40px #265083, 0 0 0 20px #ffffffeb;
  transform: scale(0.6);
}

form {
  height: 93px;
}

input[type="text"] {
  width: 100%;
  height: 96px;
  font-size: 30px;
  line-height: 1;
}

input[type="text"]::placeholder {
  color: #265083;
}

#s-cover {
  width: 1px;
  padding-left: 35px;
}

.search-button {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
}

#s-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 35px;
  height: 35px;
  margin-top: 0;
  border-width: 12px;
  border: 12px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

.search-button span {
  position: absolute;
  top: 60px;
  left: 40px;
  display: block;
  width: 25px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

.search-button span:before,
.search-button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 12px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 49px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 34px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 37px;
  background-color: #fff;
}
