.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(25, 25, 112);
  height: 56px;
}

.navbar {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 2rem;
}

.logo {
  margin-left: 2rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.logo h4 {
  font-size: 20px;
}

.nav-links {
  margin-left: 15rem;
  display: flex;
  height: 100%;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  list-style: none;
  padding: 0 0.5rem;
}

.nav-links a {
  margin-right: 1rem;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.nav-links a:hover,
.nav-links a:active {
  color: #fa923f;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}

@media (min-width: 769px) {
  .drawer_button {
    display: none;
  }
  .logo {
    margin-left: 0;
  }
}
